/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #d1d1d1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1300px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.mn-table {
  width: 100%;
  background-color: #fff;
}

.mn-table th,
.mn-table td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding: 0;
}

.column100.column1 {
  padding: 0;
}

.row100.head th {
  padding: 10px 15px;
}

th.w-1 {
  padding: 10px 0px !important;
  width: 1px !important;
}

th.text-center, td.text-center{
  text-align: center !important;
}

.row100 td {
  padding: 5px 10px;
  width: 1px;
  white-space: nowrap;
}

/*==================================================================
[ Ver3 ]*/
.table100.ver3 tbody tr {
  border-bottom: 1px solid #e5e5e5;
}

.table100.ver3 td {
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
  text-align: center;
}

.table100.ver3 th {
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  background-color: #188283;
}

.table100.ver3 .row100:hover td {
  background-color: #fafafa;
}

.table100.ver3 .hov-column-ver3 {
  background-color: #fafafa;
}

.table100.ver3 .hov-column-head-ver3 {
  background-color: #006465 !important;
}

.table100.ver3 .row100 td:hover {
  background-color: #e0e0e0;
}

td.column1 {
  text-align: left !important;
  padding-left: 15px !important;
}

